{{!< default}}
{{#post}}
{{#match @page.show_title_and_feature_image}}
  {{> 'page/page-header'}}
{{/match}}
<main class="gh-main post-content">
  <article class="gh-article {{post_class}}">
    <section class="gh-content gh-canvas is-body">
      {{content}}
    </section>
  </article>
</main>
{{/post}}
