.page-thoughts {
  .post-list {
    @media screen and (min-width: 100ch) {
      display: flex;
      position: relative;
    }
  }

  aside {
    @media screen and (min-width: 100ch) {
      position: sticky;
      top: 0;
      height: fit-content;
    }
    h2 {
      margin: 0 0 .5em;
    }
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      flex-wrap: wrap;
      gap: .5em;
    }
  }
}